@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-accent: #008979;
    --light-accent: #7FDDD2;
    --background: #0F0F0F;
    --foreground: #FFFFFF;
    --dimmed-foreground: #AAAAAA;
    --window-color: #141414;
    --neutral-tile: #1C1C1C;
    --focused-tile: #2C2C2C;
    --border-witdh: 1px;
    --text-l: 30px;
    --text-xl: 50px;
    --text-md: 22px;
    --text-base: 18px;
    --text-sm: 14px;
    --text-xs: 10px;
}

* {
    margin: 0%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

button {
    outline: none;
    border: none;
    appearance: none;
    background: none;
    padding: 0%;
}

body {
    all: unset;
    margin: 0%;
    height: 100%;
}

.page {
    background-color: var(--background);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
}

.frame {
    background-color: var(--window-color);
    border: var(--border-witdh) solid var(--main-accent);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: var(--text-l);
    font-weight: bold;
    color: var(--foreground);
    margin: 0%;
    margin-bottom: 3rem;
    text-align: center;
}

.submit {
    appearance: none;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--foreground);
    font-size: 1rem;
    font-weight: bold;
    color: var(--window-color);
    margin-top: 2rem;
    width: 100%;
    padding-block: .4rem;
}

.input-label {
    font-size: 1rem;
    color: var(--dimmed-foreground);
    margin: 0%;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.input {
    font-size: 1rem;
    padding: .4rem;
    outline: none;
    appearance: none;
    border: solid transparent 1px;
    color: var(--foreground);
    border-radius: 10px;
    width: calc(100% - 1rem);
    background-color: var(--focused-tile);
}

.button-icon {
    padding: 0%;
    background-color: transparent;
    border: none;
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 1rem;
}

#sign-up-btn p {
    color: var(--foreground);
    font-size: var(--text-xs);
}

#sign-up-btn button {
    color: var(--light-accent);
    font-size: var(--text-xs);
}

#chats {
    min-width: 70%;
    height: 75%;
    padding: .5rem;
}

#msg-section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#msg-section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    padding-left: .8rem;
    flex: 0 1 auto;
}

#msg-section header h1 {
    color: var(--foreground);
    font-weight: bold;
    font-size: var(--text-l);
}

#msg-list-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
}

#chat-header-btns {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#chat-search img {
    scale: .8;
}

#new-chat-btn {
    background-color: var(--main-accent);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    scale: .9;
    right: 1rem;
    bottom: 2.4rem;
}

#new-chat-btn img {
    position: absolute;
    height: 2.4rem;
}

#new-chat-btn :last-child {
    scale: 1;
    fill: var(--main-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#def-no-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

#def-no-chat button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--foreground);
    font-size: var(--text-md);
    gap: 1rem;
    opacity: .5;
}

#chats-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    padding-top: .8rem;
    flex: 0 1 auto;
}

#chats-count {
    font-size: var(--text-xs);
    color: var(--foreground);
}

#unread-msg-count {
    font-size: var(--text-xs);
    color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#unread-msg-count div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--main-accent);
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    font-weight: bold;
}

#chat-section {
    border-right: var(--border-witdh) solid var(--neutral-tile);
}

.hidden {
    display: none !important;
}

#new-chat {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    min-width: 70%;
    height: 75%;
    padding: .5rem;
}

#new-chat h2 {
    font-size: var(--text-md);
    width: 100%;
    text-align: center;
    color: var(--foreground)
}

.full {
    height: -webkit-fill-available;
    width: 100%;
}

#new-chat-my-friends-heading {
    height: fit-content;
    display: flex;
    padding-bottom: 1rem;
}

.searchInput {
    display: flex;
    position: relative;
}

.searchInput input {
    appearance: none;
    border: none;
    outline: none;
    border-radius: 2rem;
    font-size: var(--text-sm);
    color: var(--foreground);
    padding-inline: 1rem;
    padding-block: .5rem;
    background-color: var(--focused-tile);
    height: fit-content;
    width: 100%;
}

#friend-list-initial {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
}

#friend-list-initial p {
    color: var(--foreground);
    opacity: .5;
    text-align: center;
    font-size: var(--text-base);
}

#user-search-input {
    appearance: none;
    border: none;
    outline: none;
    border-radius: 2rem;
    font-size: var(--text-sm);
    color: var(--foreground);
    padding-inline: 1rem;
    padding-block: .5rem;
    background-color: var(--background);
    height: fit-content;
    width: 100%;
}

#user-search-button {
    background-color: var(--main-accent);
    border-radius: 50%;
    padding: .5rem;
}

#user-search-result-modal {
    position: absolute;
    border-radius: 8px;
    background-color: var(--neutral-tile);
    width: 100%;
    z-index: 10;
    padding-block: .5rem;
    max-height: 14rem;
    bottom: 100%;
    display: none;
}

#user-search-input.hx-request .loading-icon {
    display: block;
}

#user-search-result-modal:not(:empty) {
    display: block;
}

.loading-icon {
    display: none;
    height: 1.4rem;
    width: 1.4rem;
    animation: infinite-spin 2s linear infinite;
}

@keyframes infinite-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.friend-listed-item {}

.user-listed-item {
    padding: .5rem;
    color: var(--foreground);
    font-size: var(--text-sm);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
